{
  "packageDirectories": [
    {
      "path": "force-app",
      "default": true
    }
  ],
  "name": "enterprise-sf-architecture",
  "namespace": "",
  "sfdcLoginUrl": "https://test.salesforce.com",
  "sourceApiVersion": "60.0"
}